.place__container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 26px;
}

.place__container:first-child {
    margin-right: 40px;
}

@media screen and (max-width: 1024px) {
    .place__container:first-child {
        max-width: 440px;
        width: 100%;
    }

}