.places {
  display: flex;
  flex-direction: column;
  gap: 78px;
  color: white;
  margin: 92px 0 0 0;
  max-width: 984px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    gap: 75px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 66px 0 0 0;
    gap: 56px;
  }
}