.intro {
    display: flex;
    flex-direction: column;
    color: white;
    width: 86%;
}

@media (max-width: 1024px) {
    .intro {
        max-width: 1024px;
        width: 92%;
    }
}

@media (max-width: 320px) {
    .intro {
        margin: 0 0 0 16px;
        width: auto;
    }
}