.intro__paragraph {
	list-style-type: none;
	max-width: 690px;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
}

 @media screen and (max-width: 768px) {
  .intro__paragraph {
	line-height: 26.08px;
	font-size: ;
  }