.intro__paragraph {
  list-style-type: none;
  max-width: 690px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__paragraph {
    display: flex;
    box-sizing: border-box;
    max-width: 720px;
  }
}

@media screen and (max-width: 675px) {
  .intro__paragraph {
    max-width: 288px;
  }
}