.place__link {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  opacity: 1;
  transition: opacity 0.3s;
  padding: 0;
  color: #FFFFFF;
}

.place__link:hover {
  cursor: pointer;
  opacity: 0.8;
}