.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin: 0 0 0 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-column-gap: 13px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-column-gap: 28px;
    grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 675px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 50px;
    grid-row-gap: 32px;
  }
  
  .place:nth-child(2) {
    margin: 75px 0 0 0;
  }
  
  .place:nth-child(3) {
    margin: 50px 0 0 0;
  }
  
  .place:nth-child(4) {
    margin: 50px 0 0 0;
  }
  
  .place:nth-child(5) {
    margin: 77px 0 0 0;
  }
}