.photo-grid__image {
  max-width: 284px;
  max-height: 213px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid__image {
    min-width: 300px;
    min-height: 225px;
    width: 100%;
  }
}

@media screen and (max-width: 930px) {
  .photo-grid__image {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 740px) {
  .photo-grid__image {
    min-width: 288px;
    min-height: 216px;
  }
}
