.place__paragraph-second {
  margin-top: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: white;
}

@media screen and (max-width: 320px) {
  .place__paragraph-second {
    margin: 25px 16px 0;
  }
}